.DS_Store

*~

application/cache/smarty/cached/*
!application/cache/smarty/cached/index.hmtl
!application/cache/smarty/cached/.htaccess

application/cache/smarty/compiled/*
!application/cache/smarty/compiled/index.html
!application/cache/smarty/compiled/.htaccess

application/cache/twig/cached/*
!application/cache/twig/cached/index.html
!application/cache/twig/cached/.htaccess

!application/cache/.htaccess

application/logs/*
!application/logs/index.html
!application/logs/.htaccess

/trash
/trash/*

/.*
.*
uploads/*
/installation_steps.txt
