select, #btn_submit, #btn_cancel {
	font-family: 'Open Sans';
}

/* ** ** forms ** ** */
form fieldset {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius:5px;
	padding-top:5px;
	padding-left:5px;
	border:1px solid #dadada;
}

form fieldset legend {font-size:1.4em; padding:0 5px;}

form input[type=text], form input[type=email], form input[type=url], form input[type=password] {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius:5px;
	-khtml-border-radius: 5px;
	height:15px;
	margin-bottom:5px;
	border:1px solid #dadada;
	padding: 5px;
	width: 200px;
}

form label {
	display:block; 
	height:25px; 
	font-weight: bold;
}

input.contact_search { 
    background: white; 
    border: 1px solid #323232;
    margin-left: 5px;
    color: black; 
    /* height: 28px;
    line-height: 30px; */ 
    width: 100px; 
    padding: 0px;
    padding-left: 5px;
    font-size: 15px;
}

textarea {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius:5px;
	margin-bottom:5px;
	border:1px solid #dadada;
	padding-left: 5px;
}

form #btn_submit {
	float: left;
	margin-left: 190px;
}

form #btn_cancel {
	margin-left: 10px;
}

dl {clear:both;line-height:20px;}
dt {
	float:left;
	text-align:right; 
	width:180px; 
	padding-top: 10px;
	margin-left: 5px;
	margin-right: 0px;
	margin-bottom: 0px; 
	border: 0px solid green;
}
dd {
	padding-top: 5px;
	padding-bottom: 3px;
	margin-top: 0px;
	margin-left: 5px;
	margin-right: 5px;
	margin-bottom: 0px; 
	border: 0px solid red;
}
